/* google fonts */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 18px 22px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* header start */
/* nav section start */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* nav section end */

/* banner start */

.banner-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-image img {
  width: 100%;
  align-items: center;
  margin-top: 20px;
}
/* banner end */
/* header end */

/* main section */
main {
  max-width: 1400px;
  margin: 70px auto;
}

/* teams section start */
.teams-continer {
  display: flex;
  align-items: center;
}
.teams-img-contianer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.quick-lisk {
  color: #727272;
  font-weight: 500;
}
.quck-lis1 {
  color: 131313;
  font-weight: 700;
}
.quck-list2 {
  color: #ff900e;
  font-weight: 700;
}
/* teams section end */

/* features section start */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
}
.ten-years-badge h2{
    font-size: 4.06rem;
    font-weight: 700;

}
/* features section end */

/* facts section start */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 20px 50px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-weight: 600;
  color: #727272;
  font-size: 1.25rem;
  margin-top: 5px;
}
/* facts section end */

/* sponsore sectio start */
.sponsore {
  text-align: center;
}
.sponsore-image-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 40px;
  align-items: center;
}
.sponsore-image-container img {
  width: 165px;
}
/* sponsore sectio end */

/* responsive mobile device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-continer,
  .facts-card-container,
  .sponsore-image-container {
    flex-direction: column;
  }
  .facts-card-container {
    gap: 20px;
  }
  .teams-img-contianer {
    grid-template-columns: 1fr;
  }
  .teams-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* responsive tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-continer,
  .sponsore-image-container {
    flex-direction: column;
  }
  .teams-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}
