/* google fonts */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
    padding: 18px 22px;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* header start */
/* nav section start */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* nav section end */

/* banner start */

.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
}
.banner-image img{
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
/* banner end */
/* header end */


/* main section */
main{
    max-width: 1400px;
    margin: 0 auto;
}

/* teams section start */
.teams-continer{
    display: flex;
    align-items: center;
}
.teams-img-contianer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quick-lisk{
    color: #727272;
    font-weight: 500;
}
.quck-lis1{
    color: 131313;
    font-weight: 700;
}
.quck-list2{
    color: #FF900E;
    font-weight: 700;
}
/* teams section end */







/* responsive mobile device */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    /* .banner-image img{
        width: 450px;
        align-items: center;
    } */

}


/* responsive tablet devices */
@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}